<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BusinessAssistant+</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CMP.styles.css" asp-append-version="true"/>
    <link rel="icon" href="~/img/project_logo.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/calculator.js" defer></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
        <div class="container">
                <div class="lgimg">
                    <img src="~/img/project_logo.png" width="32px" height="32px" />
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BusinessAssistant+</a>
                </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid bg-white mb-5">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer">
    <div class="container-fluid text-white bg-dark">
        &copy; 2022 - BusinessAssistant+ - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
            Uwaga! Niniejszy kalkulator podaje wartości orientacyjne.
        W celu realnego i rzetelnego obliczenia podatków do zapłacenia należy skontaktować się z profesjonalnym księgowym, bądź radcą podatkowym.
    </div>
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
