@page
@model Disable2faModel
@{
    ViewData["Title"] = "Wyłącz uwierzytelnianie dwuskładnikowe";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage"/>
<div class="space"></div>
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Kliknięcie przycisku jedynie wyłączy 2FA.</strong>
    </p>
    <p>
        Wyłączenie 2FA nie zmienia kluczy używanych w aplikacjach uwierzytelniających. Jeśli chcesz zmienić klucz
        używane w aplikacji uwierzytelniającej, należy <a asp-page="./ResetAuthenticator">zresetować klucze uwierzytelniające.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Wyłącz 2FA</button>
    </form>
</div>