@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobowe";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "_LayoutProfile";
}

<div class="space"></div>

<center>
    <h3>@ViewData["Title"]</h3>
    <div class="row">
        <p>Twoje konto zawiera dane osobowe, które nam przekazałeś. Ta strona umożliwia pobranie lub usunięcie tych danych.</p>
            <p>
                <strong>Usunięcie tych danych spowoduje trwałe usunięcie Twojego konta i nie będzie można go odzyskać.</strong>
            </p>
    </div>
    <div class="row">
        <div style="padding: 10px;">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">Pobierz dane</button>
            </form>
        </div>
        <div>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń konto</a>
            </p>
        </div>
    </div>
</center>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
