@{
	ViewData["Title"] = "Kalkulator podatkowy";
	Layout = "_LayoutCalculator";
}
<div class="container align-middle">
	<h1 class="text-dark">Kalkulator podatkowy</h1>
	<form novalidate>
	  <div>
	    <label for="pit-input" class="lead text-black form-label fw-bold">Dochód w roku podatkowym</label>
	    <input type="text" id="pit-input" class="form-control" required>
	    <div class="invalid-feedback fw-bold lead fs-6">Proszę uzupełnić to pole</div>
	  </div>

	  <label for="polski-lad-modes" class="mt-2 lead text-dard fw-bold form-label">Sposób rozliczania</label>
	  <select name="taxation-modes" id="polski-lad-modes" class="form-select">
	    <option value="polski-lad">"Polski Ład"</option>
	    <option value="polski-lad-2">"Polski Ład 2.0"</option>
	  </select>


	  <label for="taxation-types" class="mt-2 lead text-dark fw-bold form-label">Sposób opodatkowania</label>
	  <select name="taxation-types" id="taxation-types" class="form-select">
	    <option value="standard" selected>Standardowa skala podatkowa</option>
	    <option value="line">Podatek liniowy</option>
	    <option value="lumpSum">Ryczałt ewidencjonowany</option>
	    <option value="taxationCard">Karta Podatkowa</option>
	  </select>


	  <div class="form-check healthcare-container mt-2" style="display: none;">
	    <input type="checkbox" id="healthcare-reduction-input" class="form-check-input">
	    <label for="healthcare-reduction-input" class="text-dark fw-bold form-check-label">Odliczenie składki zdrowotnej od przychodu/dochodu</label>
	  </div>

	  <div class="form-check mt-2 md-reduction-container">
	    <input type="checkbox" id="middle-class-reduction-checkbox" class="form-check-input">
	    <label for="middle-class-reduction-checkbox" class="text-dark fw-bold form-check-label">Ulga dla klasy średniej</label>
	  </div>

	  <label for="company-types" class="mt-2 lead text-dark text-start fw-bold form-label" style="display: none;">Rodzaj działalności/świadczonych usług</label>
	  <select name="company-types" id="company-types" style="display: none;" class="form-select">
	    <option value="17" selected>Lekarz</option>
	    <option value="17">Lekarz stomatologii</option>
	    <option value="17">Weterynarz</option>
	    <option value="17">Technik dentystyczny</option>
	    <option value="17">Felczer, położna, pielęgniarka</option>
	    <option value="17">Tłumacz</option>
	    <option value="17">Nauczyciel korepetytor</option>
	    <option value="15">Usługi parkingowe</option>
	    <option value="15">Usługi reklamowe/badania opinii publicznej</option>
	    <option value="15">Usługi hotelarskie</option>
	    <option value="15">Usługi fotograficzne</option>
	    <option value="15">Reprodukcja komputerowych nośników informacji</option>
	    <option value="15">Obsługa central radio-taxi</option>
	    <option value="15">Pośrednictwo w sprzedaży hurtowej</option>
	    <option value="15">Pośrednictwo w sprzedaży hurtowej samochodów osobowych oraz części i akcesoriów do nich</option>
	    <option value="15">Pośrednictwo w sprzedaży motocykli oraz części i akcesoriów do nich</option>
	    <option value="14">Usługi w zakresie opieki zdrowotnej</option>
	    <option value="14">Usługi architektoniczne i inżynierskie</option>
	    <option value="14">Usługi w zakresie specjalistycznego projektowania</option>
	    <option value="12">Wydawanie pakietów gier komputerowych , z wyłączeniem publikowania gier komputerowych w trybie on-line</option>
	    <option value="12">Wydawanie pakietów oprogramowania systemowego</option>
	    <option value="12">Wydawanie pakietów oprogramowania użytkowego</option>
	    <option value="12">Wydawanie oprogramowania komputerowego pobieranego z Internetu</option>
	    <option value="12">Usługi doradztwa w sprawie sprzętu komputerowego</option>
	    <option value="12">Usługi związane z oprogramowaniem</option>
	    <option value="12">Usługi związane z doradztwem w zakresie oprogramowania</option>
	    <option value="12">Usługi w zakresie instalowania oprogramowania</option>
	    <option value="12">Usługi związane z zarządzaniem siecią i systemami informatycznymi</option>
	    <option value="8.5">Wynajem nieruchomości</option>
	    <option value="8.5">Świadczenie usług związanych z zakwaterowaniem</option>
	    <option value="8.5">Badania naukowe</option>
	    <option value="8.5">Wynajem środków transportu</option>
	    <option value="8.5">Gastronomia (w zakresie sprzedaży napojów z zawartością alkoholu powyżej 1.5%)</option>
	    <option value="8.5">Zwalczanie pożarów i zapobieganie im</option>
	    <option value="8.5">Edukacja</option>
	    <option value="8.5">Biblioteka, archiwum, muzeum</option>
	    <option value="5.5">Prowadzenie działalności wytwórczej</option>
	    <option value="5.5">Budownictwo</option>
	    <option value="5.5">Sprzedaż biletów, żetonów, znaczków pocztowych</option>
	    <option value="3">Gastronomia (z wyjątkiem alkoholu)</option>
	    <option value="3">Handel</option>
	    <option value="3">Rybołóstwo</option>
	    <option value="3">Produkcja zwierzęca</option>
	    <option value="2">Wytwór produktów roślinnych i zwierzęcych w sposób inny niż przemysłowy</option>
	  </select>

	  <label for="vat-percentages" class="lead text-dark text-start fw-bold form-label">Stawka podatku VAT</label>
	  <select name="taxation-types" id="vat-percentages" class="form-select">
	    <option value="23">23%</option>
	    <option value="8">8%</option>
	    <option value="5">5%</option>
	    <option value="0">0%</option>
	  </select>
	  
	  <label for="sales-income" class="lead text-dark text-start fw-bold form-label">Przychód Netto ze sprzedaży</label>
	  <input type="text" id="sales-income" class="form-control">

	  <label for="property-tax-cost" class="lead text-dark text-start fw-bold form-label">Koszt podatku od nieruchomości</label>
	  <input type="text" id="property-tax-cost" class="form-control">

	  <label for="civil-legal-tax-cost" class="lead text-dark text-start fw-bold form-label">Wysokość podatku od czynności cywilno-prawnych</label>
	  <input type="text" id="civil-legal-tax-cost" class="form-control">

	  <div class="tax-card-percent" style="display: none;">
	    <label for="percentage-input" class="mt-2 lead text-dark text-start fw-bold form-label">Oprocentowanie ustalone przez <abbr title="Urząd Skarbowy">US</abbr></label>
	    <input type="text" id="percentage-input" class="form-control" required>
	    <div class="invalid-feedback fw-bold lead fs-6">Proszę uzupełnić to pole</div>
	  </div>

	  <button class="confirmation-button btn btn-success rounded fw-bold mt-2">Zatwierdź</button>
	 </form>
	<table class="table table-hover" style="display: none;">
	  <tbody>
	    <tr>
	      <td class="pit-value-cell lead fw-bold text-dark"><abbr title="Personal Income Tax">PIT</abbr></td>
	      <td class="text-danger fw-bold lead"></td>
	    </tr>
	    <tr>
	      <td class="healthcare-value-cell lead fw-bold text-dark">Składka zdrowotna roczna</td>
	      <td class="text-danger fw-bold lead"></td>
	    </tr>
	    <tr>
	      <td class="vat-value-cell lead fw-bold text-dark"><abbr title="Value-added Tax">VAT</abbr></td>
	      <td class="text-danger fw-bold lead"></td>
	    </tr>
	    <tr>
	      <td class="property-value-cell lead fw-bold text-dark">Podatek od nieruchomości</td>
	      <td class="text-danger fw-bold lead"></td>
	    </tr>
	    <tr>
	      <td class="civil-legal-value-cell lead fw-bold text-dark">Podatek od czynności cywilno-prawnych</td>
	      <td class="text-danger fw-bold lead"></td>
	    </tr>
	  </tbody>
	  <tfoot style="border-top: 3px solid black;">
	    <tr>
	      <td class="lead fw-bold">Razem</th>
	      <td class="result-cell text-danger fw-bold lead"></th>
	    </tr>
	 </tfoot>
	</table>
	
</div>
