@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "Kalkulator podatkowy";
}
@section Scripts {
	<script src="~/js/calculator.js" defer></script>
}
@if (SignInManager.IsSignedIn(User))
{
	var applicationUser = await UserManager.GetUserAsync(User);
	float percentage = ViewBag.ListOfTypes[applicationUser.TypeOfActivityId - 1].Percentage;
	string description = ViewBag.ListOfTypes[applicationUser.TypeOfActivityId - 1].ActivityName;
	int SelectedTaxType = applicationUser.TaxationTypeId;
 
	<link rel="stylesheet" href="~/css/calculator.css">
	<div class="container align-middle">
		<h1 class="text-dark">Kalkulator podatkowy</h1>
		<form novalidate>
			<div>
				<label for="pit-input" class="lead text-black form-label fw-bold">Dochód w roku podatkowym</label>
				<input type="text" id="pit-input" class="form-control" required>
				<div class="invalid-feedback fw-bold lead fs-6">Proszę uzupełnić to pole</div>
			</div>

			<label for="polski-lad-modes" class="mt-2 lead text-dard fw-bold form-label">Sposób rozliczania</label>
			<select name="taxation-modes" id="polski-lad-modes" class="form-select">
				<option value="polski-lad">"Polski Ład"</option>
				<option value="polski-lad-2">"Polski Ład 2.0"</option>
			</select>


			<label for="taxation-types" class="mt-2 lead text-dark fw-bold form-label">Sposób opodatkowania</label>
			<select name="taxation-types" id="taxation-types" class="form-select" data-selected="@SelectedTaxType">
				<option value="standard">Standardowa skala podatkowa</option>
				<option value="line">Podatek liniowy</option>
				<option value="lumpSum">Ryczałt ewidencjonowany</option>
				<option value="taxationCard">Karta Podatkowa</option>
			</select>


			<div class="form-check healthcare-container mt-2" style="display: none;">
				<input type="checkbox" id="healthcare-reduction-input" class="form-check-input">
				<label for="healthcare-reduction-input" class="text-dark fw-bold form-check-label">Odliczenie składki zdrowotnej od przychodu/dochodu</label>
			</div>

			<div class="form-check mt-2 md-reduction-container">
				<input type="checkbox" id="middle-class-reduction-checkbox" class="form-check-input">
				<label for="middle-class-reduction-checkbox" class="text-dark fw-bold form-check-label">Ulga dla klasy średniej</label>
			</div>

			<label for="company-types" class="mt-2 lead text-dark text-start fw-bold form-label" style="display: none;">Rodzaj działalności/świadczonych usług</label>
			<select name="company-types" class="form-select" id="company-types" style="display: none;" disabled>
			  <option value="@percentage">@description</option>
			</select>

			<label for="vat-percentages" class="lead text-dark text-start fw-bold form-label">Stawka podatku VAT</label>
			<select name="taxation-types" id="vat-percentages" class="form-select">
				<option value="23">23%</option>
				<option value="8">8%</option>
				<option value="5">5%</option>
				<option value="0">0%</option>
			</select>

			<label for="sales-income" class="lead text-dark text-start fw-bold form-label">Przychód Netto ze sprzedaży</label>
			<input type="text" id="sales-income" class="form-control">

			<label for="property-tax-cost" class="lead text-dark text-start fw-bold form-label">Koszt podatku od nieruchomości</label>
			<input type="text" id="property-tax-cost" class="form-control">

			<label for="civil-legal-tax-cost" class="lead text-dark text-start fw-bold form-label">Wysokość podatku od czynności cywilno-prawnych</label>
			<input type="text" id="civil-legal-tax-cost" class="form-control">

			<div class="tax-card-percent" style="display: none;">
				<label for="percentage-input" class="mt-2 lead text-dark text-start fw-bold form-label">Oprocentowanie ustalone przez <abbr title="Urząd Skarbowy">US</abbr></label>
				<input type="text" id="percentage-input" class="form-control" required>
				<div class="invalid-feedback fw-bold lead fs-6">Proszę uzupełnić to pole</div>
			</div>

			<button class="confirmation-button btn btn-success rounded fw-bold mt-2">Zatwierdź</button>
		</form>
		<table class="table table-hover" style="display: none;">
			<tbody>
			<tr>
				<td class="pit-value-cell lead fw-bold text-dark"><abbr title="Personal Income Tax">PIT</abbr></td>
				<td class="text-danger fw-bold lead"></td>
			</tr>
			<tr>
				<td class="healthcare-value-cell lead fw-bold text-dark">Składka zdrowotna roczna</td>
				<td class="text-danger fw-bold lead"></td>
			</tr>
			<tr>
				<td class="vat-value-cell lead fw-bold text-dark"><abbr title="Value-added Tax">VAT</abbr></td>
				<td class="text-danger fw-bold lead"></td>
			</tr>
			<tr>
				<td class="property-value-cell lead fw-bold text-dark">Podatek od nieruchomości</td>
				<td class="text-danger fw-bold lead"></td>
			</tr>
			<tr>
				<td class="civil-legal-value-cell lead fw-bold text-dark">Podatek od czynności cywilno-prawnych</td>
				<td class="text-danger fw-bold lead"></td>
			</tr>
			</tbody>
			<tfoot style="border-top: 3px solid black;">
			<tr>
				<td class="lead fw-bold">Razem</td>
				<td class="result-cell text-danger fw-bold lead"></td>
			</tr>
			</tfoot>
		</table>

	</div>

}
else
{
	<h2>Nie jesteś zalogowany!</h2>
}
