@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Start";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>@ViewData["Title"] - BusinessAssistant+</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="~/css/index.css" rel="stylesheet"/>
</head>
<body id="page-top">

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                @if (SignInManager.IsSignedIn(User))
                {
                    <h1 class="mx-auto my-0 text-uppercase"><!--cytat muska--></h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Elon Musk.</h2>
                }
                else
                {
                    <div class="lgimg">
                        <img src="img/logo_without_text.png" width="256px" height="256px"></img>
                    </div>
 
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Wszystko co jest Ci potrzebne do pracy w jednym miejscu. Nie czekaj!</h2>
                    <a class="btn btn-lg btn-primary" asp-area="Identity" asp-page="/Account/Register" role="button">Zarejestruj się już dziś</a>
                }

            </div>
        </div>
    </div>
</header>
 
<section class="projects-section bg-light" id="features" style="padding-bottom: 0;">
    <h2 style="text-align: center; padding-bottom: 20px;">O projekcie</h2>
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="img/1.png" alt="...">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="text-center text-lg-left" style="margin-left: 10px;">
                    <h4>Kalkulator podatkowy</h4>
                    <p class="text-black-50 mb-0">Kalkulator podatkowy to inteligentne narzędzie do obliczania należnych podatków. Obecnie nasz kalkulator pozwoli ci na obliczenie polskich
		      podatków PIT, VAT, składki zdrowotnej i innych. Dodatkowo program dostosowuje się do wybranego przy zakładaniu konta typu działalności oraz wybranemu w Urzędzie Skarbowym
		    sposobu płacenia podatku PIT. Kalkulator podatkowy jest niezbędnym narzędziem każdego przedsiębiorcy pozwalającym zorientować się w skomplikowanym świecie polskiego prawa podatkowego.</p>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="img/2.png" alt="...">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="text-center text-lg-left" style="margin-left: 10px;">
                    <h4>Śledzenie kursu walut</h4>
                    <p class="text-black-50 mb-0">Dzięki naszemu przyjemnemu dla oka narzędziu do śledzenia kursu walut już nigdy nie umknie ci spadek wartości polskiej złotówki czy wzrost franka szwajcarskiego. Dzięki profesjonalnie wyglądającym wykresom będziesz zawsze na bieżąco, dzięki czemu będziesz przygotowany na ewentualny kryzys, bądź wzrost gospodarczy. Dodatkowo wspieramy śledzenie kursu kryptowalut (obecnie wspierany jest BTC).</p>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="img/3.png" alt="...">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="text-center text-lg-left" style="margin-left: 10px;">
                    <h4></h4>
                    <p class="text-black-50 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects-section bg-light" id="about" style="padding-top: 0;">
        <h2 style="text-align: center; padding-bottom: 20px;">O nas</h2>
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="img/1.png" alt="...">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="text-center text-lg-left" style="margin-left: 10px;">
                    <h4>Kalkulator podatkowy</h4>
                    <p class="text-black-50 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="img/2.png" alt="...">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="text-center text-lg-left" style="margin-left: 10px;">
                    <h4>Śledzenie walut</h4>
                    <p class="text-black-50 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="img/3.png" alt="...">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="text-center text-lg-left" style="margin-left: 10px;">
                    <h4></h4>
                    <p class="text-black-50 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</section>



</body>
</html>
