@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdź email";
}
<section class="projects-section bg-light">
    <center>
        <div class="container px-4 px-lg-5">
            <div class="col-md-4">
                <h1>@ViewData["Title"]</h1>
                <partial name="_StatusMessage" model="Model.StatusMessage"/>
            </div>
        </div>
    </center>
</section>