@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}

<h1>@ViewData["Title"]</h1>

<section class="projects-section bg-light">
    <div class="container px-4 px-lg-5">
        <center>
            <div class="col-md-4">
                <section>
                    <form method="post">
                        <h2>Wprowadź swój email.</h2>
                        <hr/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Zresetuj hasło</button>
                    </form>
                </section>
            </div>
        </center>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}