@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdź reset hasłan";
}

<section class="projects-section bg-light">
    <div class="container px-4 px-lg-5">
        <center>
            <div class="col-md-4">
                <section>
                    <h1>@ViewData["Title"]</h1>
                    <p>
                        Sprawdź swoją pocztę email, aby zresetować hasło.
                    </p>
                </section>
            </div>
        </center>
    </div>
</section>