@page
@model LockoutModel
@{
    ViewData["Title"] = "Konto zostało zablokowane";
}

<section class="projects-section bg-light">
    <div class="container px-4 px-lg-5">
        <center>
            <div class="col-md-4">
                <section>
                        <h1 class="text-danger">@ViewData["Title"]</h1>
                        <p class="text-danger">To konto zostało zablokowane, spróbuj ponownie później.</p>
                </section>
            </div>
        </center>
    </div>
</section>
