@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Logowanie kodem odzyskiwania";
}

<section class="projects-section bg-light">
    <div class="container px-4 px-lg-5">
        <center>
            <div class="col-md-4">
                <section>
                    <form method="post">
                        <h2>@ViewData["Title"]</h2>
                        <hr/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Kod odzyskiwania"/>
                            <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj się</button>
                    </form>
                </section>
            </div>
        </center>
    </div>
</section>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}