@page
@model LogoutModel
@{
    ViewData["Title"] = "Wyloguj się";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
      <button type="submit" class="nav-link btn btn-link text-dark">Kliknij tutaj aby się wylogować</button>
    </form>
</header>
