@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Zresetuj hasło";
}

<section class="projects-section bg-light">
    <div class="container px-4 px-lg-5">
        <center>
            <div class="col-md-4">
                <section>
                    <form method="post">
                        <h2>Zresetuj swoje hasło.</h2>
                        <hr/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Code" type="hidden"/>
                        <div class="mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nowe hasło"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Potwierdź nowe hasło"/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Zresetuj hasło</button>
                    </form>

                </section>
            </div>
        </center>
    </div>
</section>

<div class="space"></div>
<div class="space"></div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}