@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetu hasła";
}

<section class="projects-section bg-light">
    <div class="container px-4 px-lg-5">
        <center>
            <div class="col-md-4">
                <section>
                    <h1>@ViewData["Title"]</h1>
                    <p>
                        Twoje hasło zostało zresetowane. Proszę <a asp-page="./Login">kliknij tutaj, aby się zalogować</a>.
                    </p>

                </section>
            </div>
        </center>
    </div>
</section>

<div class="space"></div>
<div class="space"></div>